*{
    padding: 0;
    margin: 0;
    font-family: 'Fira Sans', sans-serif;
    font-family: 'Kanit', sans-serif;
}
.menu {
    width: 100%;
    height: 15vh;
    background: linear-gradient(to bottom right, #4b0082, #800080);
    border-bottom-left-radius: 6vh;
    border-bottom-right-radius: 6vh;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
  }


  .contenedor-categorias{
    display: flex;  
    flex-wrap: wrap;
    justify-content: center;
    overflow: hidden;
    width: 100%;

}
.contenedor-cajas{
    margin-top: 2vh;
    display: flex;
    width: 80%;
    justify-content: center;
    gap: 2vh;
    flex-wrap: wrap;
    margin-bottom: 5vh;
}
.p-categorias{
    position: absolute;
    margin-top: -7vh;
    margin-left: 3vh;
    color: white;
    font-size: 2.5vh;
    
}
.caja-categorias{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 20vh;
    height: 10vh;
    border-radius: 30px;
    filter: blur(1px);
    background: rgba(0, 0, 0, 15);
}

.contenedor-menues{
    gap: 1vh;
    display: flex;
    justify-content: space-around;
    margin-left: 1vh;
    }  
.logo{
    width: 20vh;
}
.menues{
    font-size: 3vh;
    font-weight: bold;
    color: white;
    text-decoration: none;

}
.search-bar{
    
    width: 40vh;
    height: 4vh;
    border-radius: 50px;
    display: flex;

}
.search-bar-elements-container{
    width: 100%;
    height: 100%;
    vertical-align: middle;

}
.td-input-bar{
    width: 100%;
}

.search{
    border: none;
    height: 100%;
    width: 100%;
    padding-right: 5vh;
    border-radius: 50px;
    font-size: 2vh;
    font-weight: 600;
    padding-left: 1vh;
    padding-top: 1vh;
    padding-bottom: 1vh;
}
.search-icon-img{
    margin-top: 1vh;
}
h1{
    text-align: center;
    margin-top: 4vh
}

.contenedor-imagenes-section-carrusel{
    display: flex;
    gap: 2vh;
    justify-content: center;
    align-items: center;
    padding: 2vh;
    flex-wrap: wrap;
}
.img1-section-carrusel{
    width: 70vh;
    height: 70vh;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.img2-section-carrusel{
    width: 80vh;
    height: 33vh;
    margin-bottom: 2vh;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section-carrusel-descuentos{
    display: flex;
    justify-content: space-around;
}
.contenedor-carrusel-descuentos{
    display: flex;
    width: 80%;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.descuento{
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
}
.img-descuento{
    width: 23vh;
    border-radius: 30px;
}
.boton-descuento{
    border-radius: 30px;
    background: linear-gradient(to bottom right, #4b0082, #800080);;
    border: none;
    color: white;
    padding: 1vh;
}

.section-ranking{
    margin-top: 10vh;
    background-image: url("../static/img/vds.png");
    display: flex;
    justify-content: center;    
}
.cuadro-ranking{
    width: 75%;
    padding: 4vh;
}
.encabezado-cuadro-ranking{
    background: linear-gradient(to bottom right, #4b0082, #800080);;
    height: 10vh;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4vh;
    color: white;
}
.cuerpo-cuadro-ranking{
    background-color: white;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}
td{
    padding-right: 8vh;
    padding: 1vh;
    width: 33%;
}
.tr-ranking{
    display: flex;
    justify-content: center;
    padding: 1vh;
    margin: 0.5vh;
    gap: 1vh;
    border: 2px solid #4b0082;
    border-radius: 30px;
}
.tr-encabezado{
    background: linear-gradient(to bottom right, #4b0082, #800080);
    color: white;
}
.tr1{
    box-shadow: 6px 6px 2px 2px gold;
}
.tr2{
    box-shadow: 6px 6px 2px 2px silver;
}
.tr3{
    box-shadow: 6px 6px 2px 2px sienna;
}
tbody{
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    padding: 1vh;
}
table{
    display: flex;
    justify-content: center;
    align-items: center;
}
