<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='css/conclusiones.css')}}">
    <title>Conslusiones</title>
</head>
<body>
    <section class="header">
        <div class="cuadrado-amarillo"><p class="X">X</p></div>
        <h1>Conslusiones</h1>
    </section>
    <section class="cuerpo">
        <div class="tabla-div">
            <p class="parrafo">Escribí el resumen de las recomendaciones que podés dar</p> 
            <ul class="lista">
                <li>Recomendación 1</li>
                <li>Recomendación 1</li>
                <li>Recomendación 1</li>
            </ul>
        </div>
       
    </section>
    <section class="footer">
        <h3>Autor: Valentín Viola</h3>

    </section>

</body>
</html>