<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='css/home.css')}}">
    <title>Contexto</title>
</head>
<body>
    <section class="header">
        <div class="cuadrado-amarillo"><p class="X">X</p></div>
        <h1>CONTEXTO</h1>
    </section>
    <section class="cuerpo">
        <div class="tabla-div"> 
            <p class="parrafo">Escribí acá la caracterización de su set de datos</p>
        <table>
            <tr>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </table>
        
    </div>
       
    </section>
    <section class="footer">
        <h3>Autor: Valentín Viola</h3>

    </section>

</body>
</html>