<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='css/resultados.css')}}">
    <title>Resultados</title>
</head>
<body>
    <section class="header">
        <div class="cuadrado-amarillo"><p class="X">X</p></div>
        <h1>Resultados</h1>
    </section>
    <section class="cuerpo">
        <div class="tabla-div"> 
            <p class="parrafo">Escribí acá un detalle de las conclusiones que sacaste</p>
            <img class="grafico" src="https://th.bing.com/th/id/R.cc636041530b0c1b1b34734ccaee6ce6?rik=rPGmkNvMelv0iw&riu=http%3a%2f%2fwww.publicdomainpictures.net%2fpictures%2f40000%2fvelka%2fgraph.jpg&ehk=ryE44Xh84Rp6yeIcMKZoDQWWKtDcXKFSJfIgXj7%2bg%2fE%3d&risl=&pid=ImgRaw&r=0" alt="ewvew">    
        </div>
       
    </section>
    <section class="footer">
        <h3>Autor: Valentín Viola</h3>

    </section>

</body>
</html>