<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='css/home.css')}}">
    <title>Flask exercise</title>
</head>
<body>
    <section class="head">
        <section class="cuadradito">X</section>
        <h1>CONTEXTO</h1>
    </section>
    <section class="body">
        <p class="parrafo1">Escribí acá la <br> caracterización de <br>tu set de datos</p>
        <table class="tabla1">    
            <tr>
            <th>Encabezado 1</th>
            <th>Encabezado 2</th>
            <th>Encabezado 3</th>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
          </tr></table>
    </section>
</body>
</html>