<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/home.css">
    <title>MacoWins</title>
</head>
<body>
    <section class="welcome"> <!-- El class como distingo una de la otra-->
        <!--
            HTML tiene una estructura arbórea
            Existen clases madres que engloban otras etiquetas
        -->
        <h1>Club de Emprendedores UCEMA</h1>
        <p>Club de Emprendedores UCEMA</p>
        <button><a href="https://fotografias.antena3.com/clipping/cmsimages01/2017/02/07/364CAAAC-A60E-43BB-8FED-05AA0B8F3AF9/58.jpg" target="_blank">Apretame</a></button>
        <section>
            <blockquote>evwvewvewvewve</blockquote>
        </section>
        <h2>Mati Brun</h2>
        <img src="https://www.elsoldetlaxcala.com.mx/incoming/j3sdgs-perrito.jpg/ALTERNATES/LANDSCAPE_1140/perrito.jpg" atl="welcome">
    <section>
    <section class="about">
        <p>loredbhsdb<p>
        <ul>
            <li>Pantalones</li>
            <li>Remeras</li>
        </ul>    
    <section>
    
    <footer>
        <p>Contact: contacto@gmail.com</p>
    <footer>
</body>
</html>


<!--</head>
<body>
    <section class="Bienvenida"> <!--Apodo que le doy a una etiqueta en particular-->


    <!--html: es un lenguaje de texto++ que nos permite mandar info a partir del ptrotocolo http. Se basa en etiquetas.
    Las etiquetas son subestructuras. 
    Las clases y atributos me dan información y forman parte de la metadata de mi HTML
    
    Del lado del front, las app Web tienen 3 tecnologías básicas:
    HTML: da la estructura base sobre la que muestro la interfaz gráfica
    CSS: maquilla la estructura html
    JS: aplicar funcionalidades, lo dinámico
    
    EL html se compone de 3 partes:
    En el head va toda la metadata que hace a un HTML particular
    En el body van aquellas cosas que se ven
    
    Las páginas Web se renderizan en el navegador
    Las etiquetas tienen atributos, me determinan las características de las etiquetas. Las que hacen referencia a lo que contienen, son
    etiquetas semánticas.
    Nos permiten tener un código más mantenible y da un mejor entendimiento a los motores de búsqueda
    -->