<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/descuento-individual.css') }}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100;800&family=Kanit:wght@500&display=swap" rel="stylesheet">
        <script src="{{url_for('static',filename='js/searchBar.js')}}"></script>
        <title>Document</title>
    </head>
    
<body>
    <section class="menu"> 
        <img src="../static/img/Diseño sin título (41).png" alt="" class="logo">
        <div class="contenedor-menues">
            <a class="menues" href="{{ url_for('index') }}">Inicio</a>
            <a class="menues" href="{{ url_for('categorias') }}">Categorías</a>
            <a class="menues" href="{{ url_for('descuentoDiario') }}">Descuento diario</a>      
        </div> 
        <div class="search-bar">
            <table class="search-bar-elements-container">
                <tr>
                    <td class="td-input-bar">
                        <input type="text" placeholder="Buscar..." class="search" id="inputSearch">
                    </td>
                    <td>
                        <a href="#" id="searchIcon"><img src="../static/img/baseline_search_black_24dp.png" alt="" class="search-icon-img"></a>
                    </td>
                </tr>
            </table>
        </div>
    </section>
    <section>
        <div class="contenedor-descuento-individual">
            <img class="img-descuento-individual" src="{{ descuento['imagen'] }}" alt="">
            <div class="contenedor-texto-descuento-individual"> 

                <h1>{{ descuento['nombre'] }}</h1>
                <p>{{ descuento['Descuento'] }}</p>
                <div id="boton-descuento-individual1"></div>

                <div id="resultado"></div>
                <div>
                    <button id="boton-descuento-individual" class="boton-descuento-individual2">Usar cupon</button>
                </div>

            <div id="modal" style="display: none; position: fixed; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.8); z-index: 999;">
                <div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); background-color: #fff; padding: 40px; border-radius: 10px;">
                    <img id="codigo-qr-img" src="../static/img/qr.png" alt="Código QR" style="display: block;">
                    <button id="cerrar-modal" class="boton-descuento-individual2">Cerrar</button>
                </div>
            </div>
            </div>    
            <div>
                <div class="contenedor-info-descuento-individual">
                    <img class="icon-descuento-individual" src="../static/img/marcador-de-posicion.png" alt="">
                    <div>
                        <h3>Ubicación</h3>
                        <p class="p-info-descuento-individual">{{ descuento['ubicacion'] }}</p>
                    </div>    
                </div>
                <div class="contenedor-info-descuento-individual">
                    <img class="icon-descuento-individual" src="../static/img/calendario.png" alt="">
                    <div>
                        <h3>Usalo los días</h3>
                        <p class="p-info-descuento-individual">{{ descuento['disponibilidad'] }}</p>
                    </div>  
                </div>
                <div class="contenedor-info-descuento-individual">
                    <img class="icon-descuento-individual" src="../static/img/cronografo.png" alt="">
                    <div>
                        <h3>Fecha de vencimiento</h3>
                        <p class="p-info-descuento-individual">{{ descuento['vencimiento'] }}</p>
                    </div>  
                </div>
            </div>
        </div>
       
    </section>
    <script>
        function mostrarCodigoQR() {
        var modal = document.getElementById("modal");
        var qrCodeImage = document.getElementById("codigo-qr-img");
        modal.style.display = "block";
        qrCodeImage.style.display = "block";
    }

    function cerrarModal() {
        var modal = document.getElementById("modal");
        modal.style.display = "none";
    }

    // Asocia la función mostrarCodigoQR al evento click del botón
    document.getElementById("boton-descuento-individual").addEventListener("click", mostrarCodigoQR);
    document.getElementById("cerrar-modal").addEventListener("click", cerrarModal);
                document.addEventListener("DOMContentLoaded", function () {
let dolarElement = document.getElementById("boton-descuento-individual1");
let resultadoElement = document.getElementById("resultado");

let precioEnPesos = parseFloat(dolarElement.textContent.replace("$", ""));

fetch("https://dolarapi.com/v1/dolares/blue")
    .then(response => response.json())
    .then(data => {
        let precioDolarBlue = data.venta;
        let resultado = 0.3 * precioDolarBlue;
        resultadoElement.textContent = `$${resultado.toFixed(2)}`;
    })
    .catch(error => {
        console.error("Error al obtener el precio del dólar:", error);
        resultadoElement.textContent = "Error al obtener el precio del dólar";
    });
});

</script>

<script>inicializarBusquedaPalabrasClave()</script>

</body>
</html>