<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="cuadrante1">
            <h1>ELEGÍ y LLEVALO</h1>
            <img class="grilla1" src="" alt="">
        </div>
        <div class="cuadrante2">
            <h2>CONSEJOS UTILES</h2>
        </div>
        <div class="cuadrante3">
            <img src="" alt="">
            <img src="" alt="">
        </div>
        <div class="cuadrante4">
            <img src="" alt="">
            <img src="s" alt="">
        </div>
    </div>
</body>
</html>