<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ej Ana</title>
    <link rel="stylesheet" href="../static/css/home.css">
</head>
<body>
    <section class="header">
        <img src="../static/css/IDPfun_Refract_flyer.jpg" alt="">
    </section>
    <section class="texto">
        <h3>3RD REFRACT LATIN AMERICA VISIT <br>& <br>4TH IDPFUN ANNUAL ARGENTINA VISIT</h3>
    </section>
    <section class="sect-azul">
        <button>Inscripciones abiertas</button>
    </section>
    <section class="color-piel">
        <div class="info"></div>
    </section>
    <section class="footer">

    </section>
</body>
</html>