*{
    margin: 0;
    padding: 0;
    
}

.header{
    display: flex;
    position: relative;
    background-color: #A291C6;
    padding: 20px;
    border: 3px solid black;
    border-bottom: none;
    }
.cuadrado-amarillo{
    width: 70px;
    height: 70px;
    background-color: #FBDA5A;
    border: 3px solid black;
    margin-right: 10px;
}
.X{
    font-size: 105px;
    -webkit-text-stroke: 2px black;
    display: flex;
    position: relative;
    bottom: 26px;
    justify-content: center;
}

h1{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
}

.cuerpo{
    border: 3px solid black;
    background-color: #FBDA5A;

}
.tabla-div{
    display: flex;


}
.grafico{

    margin-right: 10%;
    width: 500px;
    height: 500px;
    padding: 30px;
    padding-left: 200px;
}
.parrafo{
    font-size: 30px;
    padding: 10px;
    margin: 3%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.footer{
    background-color: #96F7D2;

    padding: 20px;
    
}